*{
    scroll-behavior: smooth;
}
.display-4,.display-6{
    font-family: 'Noto Sans Meetei Mayek', sans-serif; 
}
.nav-logo{
    height: 50px;
    width: 50px;
}
body{
    color: rgb(73, 43, 0);
    z-index: 1;
}
.bg-body-tertiary{
    background-color: aqua;
    color: blue;
}
.card-body{
    opacity: 19;
}
#city{
    width: 215px;
}